.post-container {
    margin: 50px auto;
    width: 50%;
    border: solid #d3def1;
    border-radius: 10px;
    text-align: center;
    background-color: #9bd3eb;
  }
  .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  input[type="text"] {
    width: 95%;
    height: 40px;
  }
  input[type="submit"] {
    width: 200px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .button{
    width: 250px;
    height: 50px;
    background: #5d82a2;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
  }
  .button:hover{
    border-radius: 25px;
  }